{% extends 'base.html' %}

{% block content %}
    <div class="main">
            {% if records %}
                <h2> Guest book </h2>
                <form action="{% url 'index' %}" method="GET">
                    <div class="row justify-content-end">
                        <div class="col-3">
                            <input name="search" type="search">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
              {% for record in records %}
                <div class="container block">
                      <div class="row justify-content-between">
                          <div class="col-4">
                              {{ record.name }} ({{ record.email }})
                          </div>
                          <div class="col-2">
                              <a href="{% url 'update' record.pk %}" class="btn btn-primary bi bi-pencil-square"></a>
                              <a href="{% url 'delete' record.pk %}" class="btn btn-primary bi bi-x-square"></a>
                          </div>
                        </div>
                        <div class="row">
                            {{ record.text }}
                        </div>
                </div>
              {% endfor %}
           {% else %}
             <h2>Add an entry to the guest book </h2>
           {% endif %}
            <br>
        </div>
{% endblock %}