{% extends 'base.html' %}

{% block content %}
    <div class="main">
            {% if records %}
                <h2> Guest book </h2>
              {% for record in records %}
                <div class="container block">
                      <div class="row">
                          <p>
                              {{ record.name }} ({{ record.email }})
                              <a href="{% url 'update' record.pk %}"><button class="bi bi-link"></button></a>
                              <a href="{% url 'create' %}"><button class="bi bi-link"></button></a>
                          </p>
                        </div>
                        <div class="row">
                            {{ record.text }}
                        </div>
                </div>
              {% endfor %}
           {% else %}
             <h2>Add an entry to the guest book </h2>
           {% endif %}
            <br>
        </div>
{% endblock %}