{% extends 'base.html' %}

{% block content %}
    <div class="main">
            {% if records %}
                <h2> Guest book </h2>
              {% for record in records %}
                <div class="container block">
                      <div class="row justify-content-between">
                          <div class="col-4">
                              {{ record.name }} ({{ record.email }})
                          </div>
                          <div class="col-2">
                              <a href="{% url 'update' record.pk %}" class="btn btn-primary bi bi-file-earmark-plus"></a>
                              <a href="{% url 'delete' record.pk %}" class="btn btn-primary bi bi-file-earmark-minus"></a>
                          </div>
                        </div>
                        <div class="row">
                            {{ record.text }}
                        </div>
                </div>
              {% endfor %}
           {% else %}
             <h2>Add an entry to the guest book </h2>
           {% endif %}
            <br>
        </div>
{% endblock %}